@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-image {
    background-image: url('/images/.hero-image.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
}
